:root {
  --primary-color: #121212;
  --primary-color-start: #aa2222; 
  --white: #f2f2f2;
}
html, body {
  height: 100vh; 
}
body {
  font-family: 'Red Rose', cursive;
  margin: 0;
  background-color: var(--primary-color);
  display: flex;
  align-items: center;
}
.gameboard {
  height: 100vh;
  width: 100vh;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  max-height: 55vh;
  max-width: 60vh;
}

.color {
  box-sizing: border-box;
  width: 50%;
  height: 50%;
  display: inline-block;
}

.left {
  float: left;
}

.right {
  float: left;
}

.celeste {
  border-bottom: 4px solid;
  border-right: 4px solid;
  background: #22a6b3;
}

.celeste.light {
  background: #7ed6df;
}

.violeta {
  border-bottom: 4px solid;
  border-left: 4px solid;
  background: #be2edd;
}

.violeta.light {
  background: #e056fd;
}

.naranja {
  border-top: 4px solid;
  border-right: 4px solid;
  background: #f0932b;
}

.naranja.light {
  background: #ffbe76;
}

.verde {
  border-top: 4px solid;
  border-left: 4px solid;
  background: #6ab04c;
}

.verde.light {
  background: #badc58;
}
.btn-container{
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}
.btn-start {
  text-transform: uppercase;
  padding: 15px;
  border: none;
  border-radius: 50%;
  width: 280px;
  height: 280px;
  background-color: var(--primary-color-start);
  color: var(--white);
  font-size: 2.9rem;
  margin: 0 auto;
}
.btn-start-click {
  background-color: var(--primary-color);
}
.btn-start:focus{
  outline: none;
}
.hide {
  display: none;
}

/* Responsive */
@media only screen and (max-width: 480px){
  .btn-start {
    width: 180px;
    height: 180px;
    font-size: 2.2rem;
  }
}